*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.section-1{
    width: 100%;
    height: 70vh;
   
}
.section-1 div{
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    line-height: 45vh;
    background: red;
}
.section-1 div img{
    width: 100%;
    height: 70vh;
    line-height: 50vh;
}
.content{
    display: flex;
    margin: 0 auto;
    width: 90%;
}
.section-2{
    background-color: rgb(0, 0, 0);
    width: 25%;
    border: solid rgb(225, 90,0) .2rem;
    border-radius: 10px;
}
.section-2 h2{
    color: rgb(255, 255, 255);
    background: rgba(202, 200, 199,0.2);
    font-size: 30px;
    margin: 10px 10px;
    text-align: center;
    border-radius: 5px;
}
.section-2 h2:hover{
    color: white;
    background: rgb(225, 90,0);
}
.section-2 div{
    margin: 0 auto;
}
.section-2 div p{
    width:100%;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    color: white;
    border-bottom: solid rgba(202, 200, 199,0.2) .1rem;
}
.section-2 div p:hover{
    border-bottom: solid rgb(225, 90,0) .1rem;
}
.section-3{
    background-color: rgba(202, 200, 199,0.4);
    width: 75%;
    height: 180vh;
}
.section-3 h1{
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
    margin: 5px 10px;
    border-bottom: solid gray  .1rem;
}
.content-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.content-3 div{
    margin: 0 auto;
    width: 30%;
}
.content-3 div img{
   width: 80%;
   height: 60%;
}
.content-3 div p{
    margin: 0px 20px;;
    font-size: 16px;
    width: 90%;
    text-align:left;
}
.section-ofertas{
    display: flex;
    width: 100%;
    height:50vh;
    justify-content: center;
}
.ofertas1{
    width: 45%;
    height: 50vh;
    text-align: center;
   
}
.section-ofertas  h1{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    line-height: 50vh;
    font-size: 80px;
    text-transform:uppercase;
    border-radius: 5px;
    border-bottom: solid gray  .1rem;
}
.ofertas2{
    border-bottom: solid gray  .1rem;
    width: 45%;
    height: 50vh;
    text-align: center;
    border-radius: 5px;
}
.ofertas2 img{
    width: 100%;
    height: 50vh;
    line-height: 50vh;
    padding: 5px 5px;
}
.contacto-section1{
    width: 100%;
    height: 40vh;
    padding: 10px;
}
.contacto-section1 div{
    width: 90%;
    height: 37vh;
    margin: 0 auto;
    border-bottom: solid gray  .1rem;
}
.contacto-section1 {
    text-align: center;
    font-size: 80px;
    line-height:31vh;
}.contacto-section2{
    width: 100%;
    text-align:center
}
.contacto-section2 div{
    width: 90%;
    margin:0 auto;
}
.contacto-section2 h2{
    font-size: 40px;
    width: 100%;
    padding: 10px;
    border-bottom: solid gray  .1rem;
    margin: 0 auto;
}
.contacto-content{
    background:rgba(202, 200, 199,0.4);
    display: flex;
    margin-right: 50px;
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.contacto-content div{
    width: 90%;
    height:30vh;
    margin-right: 5px;
    padding-right: 0;
}
.contacto-content div img{
    width: 75%;
    line-height: 20vh;
}
.contacto-content div p{
    text-align: center;
}

.contacto-section3{
    width: 100%;
    height: 70vh;
    margin:0 auto;
}
.titulo{
    width: 90%;
    margin: 0px auto;
}
.contacto-section3 div h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
}
.parrafo{
    width: 90%;
    margin: 0px auto;
}
.parrafo p{
    font-size: 20px;
    text-align: left;
}
form{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form .formulario{
    width: 50%;
    height: 50vh;
    text-align: center;
}
.formulario-conteiner div{
    width: 70%;
    display:flex;
    margin: 20px auto;
}
.formulario-conteiner div input{
    width: 80%;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
    outline:none;
    border: 1px solid silver;
    border-radius: 20px;
    border: solid rgba(202, 200, 199,0.4) .2rem ;
}
.formulario-conteiner label{
    color: rgb(0, 0, 0);
    font-size:25px;
}
.mensaje{
    width: 70%;
    display:flex;
    margin: 10px auto;
}
.mensaje input{
    width: 80%;
    height: 150px;
    padding: 0 20px;
    font-size: 18px;
    outline:none;
    border: 1px solid silver;
    border-radius: 20px;
    border: solid rgba(202, 200, 199,0.4) .2rem ;
}
.mensaje label{
    color: rgb(0, 0, 0);
    font-size:25px;
    height: 150px;
    line-height: 150px;
}
form .enviar{
    width: 50%;
    height: 50vh;
    text-align:left;
    line-height: 40vh;
}
.enviar input{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border:solid .1rem rgba(202, 200, 199,0.4);
    border-radius: 1rem;
    margin:0.5rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
}
.enviar input:hover{
    background-color: rgb(217, 99, 20);
    color: white;
    border:solid .1rem white;
}
button{
    background-color:rgb(243, 133, 16);
    color: white;
    border: solid 0.1rem white;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: rgb(243, 133, 16);
    border: solid .1rem rgb(243, 133, 16);
    cursor: pointer;
}